.camera {
    margin-left: 100px;
}

@media only screen and (max-width: 1350px) {
    .body-header {
        display: flex;
        flex-direction: column;
    }
    img {
        display: flex;
    }
} 

@media only screen and (max-width: 400px) {
    .body-header {
        display: flex;
        flex-direction: column;
    }
     img {
        display: flex;
    }
} 